body{
    margin: 0;
    /* box-sizing: border-box;
    overflow: hidden; */
}

img{
    max-width: 100%;
}

header ul {
text-align: right;
margin-right: 20px;

}

header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 15px;
}

header ul li a{
    color: dimgrey;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}



/* Menu Design End */

/* section{
    box-sizing: border-box;
    overflow: hidden;
} */

.half-width img{
    width: 72%;
}

.half-width{
    width: 40%;
    float: left;
    border: 1px solid red;
    margin-left: 5%;
    padding-left: 2%;

}


.h-text{
    font-size: 70px;
    margin: 2px 0;
}

.blue{
    color: rgba(2, 2, 46, 0.959);
}

.orange{
    color: orangered;
    font-weight: bold;
}

.btn-ds{
    padding: 15px 40px;
    border: 1px solid tomato;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(rgb(241, 140, 122), tomato);
    border-radius: 5px;
    cursor: pointer;
}

.btn-ds:hover{
    background-image:none;
    color: tomato;
    transition-duration: 2s;

}